.dropDownContainer{
    position: relative;
}

.selectedValue{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111b3a;
    width: 100px;
    cursor: pointer;
    font-size: 0.8rem;
}   

.listValues{
    border: 1px solid #1a2c68;
    top: 45px;
    position: absolute;
    height: auto;
    background: white;
    width: 120px;
    border-bottom: none;
}

.listValue{
    background-color: #010f2a;
    color: white;
    padding: 14px 10px;
    border-bottom: 1px solid #1a2c68;
    cursor: pointer;
    font-size: 0.8rem;
}

.listValue.active{
    color: rgb(0, 184, 255);
    cursor: default;
}

.dropdownArrows{
    height: 1.25rem;
    width: 1.25rem;
    color: white;
}

@media (max-width: 768px){
    .selectedValue{
        width: 94%;;
        margin-bottom: 20px;
    }
}